<% include partials/header.ejs %>

    <div class="container text-center">
      <form class="form-inline form">
        <div>
          <input type="email" name="email" placeholder="Email Address" class="form-control" />
          <input class="btn btn-primary btn-md" type="submit" value="Proceed" />
        </div>
      </form>
    </div>

    <div class="container text-center footer">
      <p>&copy;Edwin Moses Lomolo Chanzu</p>
    </div>

<% include partials/footer.ejs %>