body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.form {
  margin-left: 26rem ! important;
  margin-top: 18rem ! important;
}
.home {
  background-color: steelblue;
}
.footer {
  margin-top: 18rem;
}